/* home.css -- style for the home page */

/* Styles for the room layout, patterns, and fonts */
/* These are the experimental fonts, saved here for now. */
/* Paranoia -- Atma */
/* Entrance -- Bevan */
/* Library -- Days One */
/* Study -- Days One */
/* Core -- Fontdiner Swanky */
/* Laboratory -- Orbitron */
/* Classroom -- Petit Formal Script */
/* Fitness -- Allerta Stencil */
/* Dinosaur -- Passero One */
/* Playroom -- Nanum Pen Script */

a.home-room {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

rect.home-box {
  fill: lightgreen;
  stroke: black;
  stroke-width: 10;
}

line.home-grid {
  stroke: darkslategray;
  stroke-width: 1;
}

polygon.home-walls {
  fill: antiquewhite;
  stroke: black;
  stroke-width: 6;
}

polygon.home-room {
  fill: antiquewhite;
  stroke: black;
  stroke-width: 6;
}

text.home-room {
  text-anchor: middle;
  alignment-baseline: center;
}

text.home-copyright {
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
}

.home-room-wip {
  stroke-width: 17;
  stroke-linecap: square;
  stroke: yellow;
  opacity: 0.7;
}

polygon.home-numbers {
  fill: coral;
}

text.home-numbers {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}

polygon.home-entry {
  fill: aqua;
}

text.home-entry {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "Arial Black", Gadget, sans-serif;
}

tspan.home-room-em {
  font-style: italic;
}

.home-entry-subtext {
  font-size: 28px;
  font-weight: normal;
  font-family: "Days One", "Arial Black", Gadget, sans-serif;
}

polygon.home-lib {
  fill: olive;
}

text.home-lib {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}

polygon.home-study {
  fill: lime;
}

text.home-study {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}

polygon.home-core {
  fill: slategray;
}

text.home-core {
  fill: white;
  font-size: 36px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}


polygon.home-lab {
  fill: deepskyblue;
}

text.home-lab {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}

polygon.home-class {
  fill: salmon;
}

text.home-class {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}

polygon.home-fit {
  fill: chocolate;
}

text.home-fit {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}

polygon.home-dino {
  fill: gold;
}

text.home-dino {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}

polygon.home-para {
  fill: violet;
}

text.home-para {
  font-size: 40px;
  font-weight: normal;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}
