/* home.css -- style for the home page */

/* Styles for the room layout, patterns, and fonts */

rect.home-box {
  fill: lightgreen;
  stroke: black;
  stroke-width: 10;
}

line.home-grid {
  stroke: darkslategray;
  stroke-width: 1;
}

polygon.home-walls {
  fill: antiquewhite;
  stroke: black;
  stroke-width: 6;
}

polygon.home-room {
  fill: antiquewhite;
  stroke: black;
  stroke-width: 6;
}

text.home-room {
  text-anchor: middle;
  alignment-baseline: center;
}

polygon.home-para {
  fill: lime;
}

text.home-para {
  font-size: 56px;
  font-weight: bold;
  font-family: Atma, Georgia, serif;
}

polygon.home-entry {
  fill: aqua;
}

text.home-entry {
  font-size: 56px;
  font-weight: normal;
  font-family: Bevan, "Arial Black", Gadget, sans-serif;
}

polygon.home-lib {
  fill: violet;
}

text.home-lib {
  font-size: 56px;
  font-weight: bold;
  font-family: "Cherry Swash", "lucida Console", Monaco, monospace;
}

polygon.home-study {
  fill: coral;
}

text.home-study {
  font-size: 48px;
  font-weight: bold;
  font-family: "Days One", "lucida Console", Monaco, monospace;
}

polygon.home-core {
  fill: slategray;
  stroke-width: 0;
}

text.home-core {
  fill: white;
  font-size: 48px;
  font-weight: normal;
  font-family: "Fontdiner Swanky", "lucida Console", Monaco, monospace;
}


polygon.home-lab {
  fill: deepskyblue;
}

text.home-lab {
  font-size: 56px;
  font-weight: bolder;
  font-family: "Orbitron", "lucida Console", Monaco, monospace;
}

polygon.home-class {
  fill: salmon;
}

text.home-class {
  font-size: 44px;
  font-weight: bolder;
  font-family: "Petit Formal Script", "lucida Console", Monaco, monospace;
}

polygon.home-fit {
  fill: chocolate;
}

text.home-fit {
  font-size: 52px;
  font-weight: bold;
  font-family: "Allerta Stencil", "lucida Console", Monaco, monospace;
}

polygon.home-dino {
  fill: gold;
}

text.home-dino {
  font-size: 52px;
  font-weight: bold;
  font-family: "Passero One", "lucida Console", Monaco, monospace;
}


polygon.home-nurse {
  fill: olive;
}

text.home-nurse {
  font-size: 64px;
  font-weight: bold;
  font-family: "Nanum Pen Script", "lucida Console", Monaco, monospace;
}
