/* para.css -- style for the paranoia section */

h1 {
  margin-top: .5em
}

a.para-ban:hover {
  text-decoration: none;
}

/* suppress underscore for outline elements */
a.toc-link {
  text-decoration-line: none;
  font-family: "Trebuchet", sans-serif;
  font-weight: normal;
  font-size: small;
  color: black;
}

a.toc-link.num {
  font-size: medium;
}

a.toc-link.to-do {
  color: red;
}

a.toc-link.wip {
  color: green;
}

a.toc-link:hover {
  text-decoration-line: underline;
  background-color: transparent;
  color: blue;
}

/* for indenting text outline elemets */
/* default margin: t-1 r-0 b-1 l-0 */
p.el1,
p.el2,
p.el3,
p.el4 {
  line-height: 1.0;
}
p.el1 {
  margin: 0 0 0 0;
}

p.el2 {
  margin: 0 0 0 2em;
}

p.el3 {
  margin: 0 0 0 4em;
}

p.el4 {
  margin: 0 0 0 6em;
}

.src {
  margin: 1em 0 1em 0;
  font-family: Courier, monosspace;
  background-color: transparent;
}
