/* para.css -- style for the paranoia section */

h1 {
  margin-top: .5em
}

mono-xs {
  font-family: Courier, monospace, "Roboto Mono";
  font-size: x-small;
}

lect-wk88 {
  font-family: "Trebuchet", sans-serif;
  font-size: medium;
  font-weight: bold;
}

date-wk88 {
  font-family: Courier, monospace, "Roboto Mono";
  font-size: medium;
}

.para-ban:hover {
  text-decoration: none;
}

.toc-link-wk88 {
  text-decoration-line: underline;
  text-decoration-color: royalblue;
  font-family: "Trebuchet", sans-serif;
  font-weight: normal;
  font-size: x-small;
  color: royalblue;
}

/* suppress underscore for outline elements */
.toc-link {
  text-decoration-line: none;
  font-family: "Trebuchet", sans-serif;
  font-weight: normal;
  font-size: small;
  color: black;
}

.toc-link.num,
.toc-link.cf {
  font-size: x-large;
}

.toc-link.classroom,
.toc-link.library {
  font-size: small;
}

.toc-link.wk88 {
  font-size: medium;
}

.toc-link.to-do {
  color: red;
}

.toc-link.wip {
  color: green;
}

.toc-link:hover {
  text-decoration-line: underline;
  background-color: transparent;
  color: blue;
}

/* For indenting text outline elements,
   notably in the Library. */
.el1,
.el2,
.el3,
.el4,
.el2-note,
.el3-note,
.el4-note {
  line-height: 1.0;
  margin-top: 0;
}

.el1,
.el2,
.el3,
.el4 {
  font-size: medium;
  margin-bottom: 0;
}

.el2-note,
.el3-note,
.el4-note {
  font-size: small;
  margin-bottom: 6px;
}

.el1 {
  margin-left: 0;
}

.el1-note {
  margin-left: 2em;
}

.el2 {
  margin-left: 2em;
}

.el2-note {
  margin-left: 4em;
}

/* Variant of el2 for the Floating Point Expose
   in the Classroom. After much tuning, most
   connection to el2 was lost. */
.el2-wk88 {
  margin: 0 0 0 2em;
  line-height: 1.2;
  font-family: "Trebuchet", sans-serif;
  font-weight: normal;
  font-size: medium;
  color: black;
}

.el3 {
  margin-left: 4em;
}

.el3-note {
  margin-left: 6em;
}

.el4 {
  margin-left: 6em;
}

.el4-note {
  margin-left: 8em;
}

.src {
  margin: 1em 0 1em 0;
  font-family: Courier, monosspace;
  background-color: transparent;
}

